.navbar {
  position: fixed;
  z-index: 101;
  width: 100%;

}

.ui.menu {
  border-radius: 0px !important;
}
#top-menu {
  margin: 0em;
}



.dashboard {
  width: 100%;
  position: absolute;
  margin-top: 63px;
}

.left-menu {
  width: 30%;
  float: left;
}

.b-crumb {
  width: 100%;
}

.content {
  margin-top: 25px;
}